@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;/*retirar todos o subllinhado da pagina*/
    font-family: 'Source Sans Pro', sans-serif;
}
.cabecario{
    width: 1200px;
    margin: 50px auto;
    display: flex;
    justify-content: right;/*vai dividir em espaços iguais os dois itens*/
    align-items: center;
}
.cabecario nav ul{
    display: flex; /*vai deixar modificar o display*/
    flex-direction: row; /*deixar em linha*/
    list-style: none; /*nenhum estilo */
    align-items: center;
}
.cabecario nav ul li a{
    margin: 0 50px; /*a li ficar espaçadas entre elas com 15px */
    color: #3399cc;
}